.main {
  background-color: gainsboro; }
  .main .compra {
    padding-top: 2rem;
    margin: 0px 8rem;
    height: auto; }
    .main .compra .side_nav {
      background-color: beige;
      border-right: 1px solid black;
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-radius: 5px 0px 0px 5px; }
      .main .compra .side_nav .side_nav-controls .side_nav-title {
        font-size: 30px;
        margin-top: 5px; }
      .main .compra .side_nav .side_nav-controls .control_filtros1, .main .compra .side_nav .side_nav-controls .control_filtros2 {
        display: none; }
      .main .compra .side_nav .controles .remeras, .main .compra .side_nav .controles .pantalones, .main .compra .side_nav .controles .buzos, .main .compra .side_nav .controles .todos {
        margin: 10px 0px;
        border-radius: 4px;
        background-color: bisque;
        border: 1px solid silver; }
        .main .compra .side_nav .controles .remeras:hover, .main .compra .side_nav .controles .pantalones:hover, .main .compra .side_nav .controles .buzos:hover, .main .compra .side_nav .controles .todos:hover {
          background-color: gainsboro; }
        .main .compra .side_nav .controles .remeras:focus, .main .compra .side_nav .controles .pantalones:focus, .main .compra .side_nav .controles .buzos:focus, .main .compra .side_nav .controles .todos:focus {
          background-color: gainsboro; }
      .main .compra .side_nav .carrito {
        margin-top: 1rem;
        border-top: 1px solid black; }
        .main .compra .side_nav .carrito .carrito_title {
          margin: 10px 0px;
          font-size: 20px;
          color: coral; }
        .main .compra .side_nav .carrito .boton_carrito {
          margin-top: 5px;
          background-color: black;
          border: 1px solid gray;
          color: aliceblue;
          border-radius: 4px; }
    .main .compra .slider {
      background-color: white;
      height: 90vh;
      overflow: auto;
      border-top: 1px solid black;
      border-right: 1px solid black;
      border-radius: 0px 5px 5px 0px; }

.header .navbar .navbar-brand .navbar_icon {
  width: 40px; }

.header .navbar .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -2px;
  background-color: beige;
  overflow-x: hidden;
  padding-top: 4rem;
  transition: 0.5s;
  border-left: 2px solid grey;
  border-radius: 10px 0px 0px 10px; }
  .header .navbar .sidenav .closebtn {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 50px;
    margin-left: 5px;
    width: 25px;
    margin-top: 10px;
    margin-right: 2rem; }
    .header .navbar .sidenav .closebtn:hover {
      color: grey;
      font-size: 55px; }
  .header .navbar .sidenav .carrito_title {
    margin-left: 2rem;
    font-size: 20px;
    color: coral; }
  .header .navbar .sidenav .boton_carrito {
    display: inline;
    margin-top: 5px;
    background-color: black;
    border: 1px solid gray;
    color: aliceblue;
    border-radius: 4px;
    margin-left: 2rem; }
  .header .navbar .sidenav .total_carrito {
    display: inline;
    right: 1rem;
    margin-left: 2rem;
    font-size: 18px; }

.header .navbar .abrir_carrito .icon_carrito {
  width: 40px;
  transition: 0.5s; }
  .header .navbar .abrir_carrito .icon_carrito:hover {
    width: 50px; }

@media only screen and (max-width: 600px) {
  .main {
    background-color: gainsboro; }
    .main .compra {
      margin: 0px 1rem;
      padding-top: 1rem;
      border: 0px; }
      .main .compra .side_nav {
        border-radius: 5px 5px 0px 0px;
        border: 1px solid black; }
        .main .compra .side_nav .side_nav-controls .control_filtros1 {
          display: block;
          width: 25px; }
        .main .compra .side_nav .side_nav-controls .control_filtros2 {
          width: 15px; }
        .main .compra .side_nav .controles {
          height: 0;
          width: auto;
          z-index: 1;
          overflow-x: hidden;
          transition: 0.5s; }
      .main .compra .slider {
        height: 85vh;
        border-radius: 0px;
        border-left: 1px solid black;
        border-right: 1px solid black; } }
