.main{
    background-color: gainsboro;
    .compra{
        margin: 0px 8rem;
        height: auto;
        border:{ 
            top: 1px solid black;
            left: 1px solid black;
            right: 1px solid black;
        }
        border-radius: 5px;
        .side_nav{
            .side_nav-title{
                font-size: 30px;
            }
            background-color: beige;
            border-right: 1px solid black;
            .controles{
                .remeras, .pantalones, .buzos, .todos{
                    margin: 10px 0px;
                    border-radius: 4px;
                    background-color: bisque;
                    border: 1px solid silver;
                }
            }
            .carrito{
                margin-top: 1rem;
                border-top: 1px solid black;
                .carrito_title{
                    margin: 10px 0px;
                    font-size: 20px;
                    color: coral;
                }
                .boton_carrito{
                    margin-top: 5px;
                    background-color: black;
                    border: 1px solid gray;
                    color: aliceblue;
                    border-radius: 4px;
                }
            }
        }
        .slider{
            background-color: white;
            height: 95vh;
            overflow: auto;
        }
    }
}